{% extends 'EmployeeRegister/bace.html' %}



{% block body %}
    <table class="table table-borderless">
        <thead class="border-buttom text-white font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Mobile</td>
                <td>Possition</td>
                <td>
                    <a href="{% url 'EmpInsert' %}" class="btn btn-light">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody class = "text-white">
            {% for employee in EmpList %}
            <tr>
                <td> {{employee.fullName}} </td>
                <td> {{employee.Mobile}} </td>
                <td> {{employee.Possition}} </td>
                <td> 
                    <a href="{% url 'EmpEdit' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg text-white"></i>
                    </a>
                    <form class="d-inline" action="{% url 'EmpDel' employee.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn" style="background-color: transparent;">
                            <i class="fa-sharp fa-solid fa-lg fa-trash text-white float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}
    